<div class="container-fluid">
  <div class="row bg-dark">
    <div class="col-md-offset-4 col-md-4">
      <h1 class="bg-primary text-center p25">
        Address Lookup
      </h1>
    </div>
  </div>

  <div>
    <p>
      Click the <i>View Addresses</i> button to convert the coordinates to addresses<br  />
      and find the distance from the target location (i.e., the White House) <br />
      to each location.
      <br /><br />

      Target Location: <br />
      <%= target %><br />
    </p>

    <table class='table table-hover table-striped'>
      <th>Coordinates</th>
      <% locations.each do |key, arr|%>
        <tr>
          <td><%= arr[0] %>, <%= arr[1] %></td>
        </tr>
      <% end %>


    </table>

    <a href="/addresses" class="btn">View Addresses</a>

  </div>
</div>